<!-- Главная страница с категориями 
<div class="main">
  <div class="main1">
    <h1>Интернет магазин</h1>
    <div class="categories">
        <div *ngFor="let category of categories" class="category-card1">

          <a [href]="'#category-' + category.id">
            <h2>{{ category.name }}</h2>
            <img [src]="category.imageUrl" alt="{{ category.name }}" />
          </a>
        </div>
    </div>
  </div> 

  <div class="main2">

    <div *ngFor="let category of categories" class="category-card">
        <h2>

          <a [href]="'#category-' + category.id">{{ category.name }}</a>
        </h2>
        

        <div id="category-{{ category.id }}">
          <app-products [categoryId]="category.id"></app-products>
        </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet> -->

<main>
  <header class="brand-name">
      <h1>Kaspi Shop</h1>
  </header>
  <section class="content">
      <app-home></app-home>
  </section>
</main>