.main {
  background-color: #aa5151;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}
.main1 {
  width: 100%;
  height: 500px;
  position: absolute;
  top: 30px;
  left: 0px;
}
.main2 {
  width: 100%;
  height: 500px;
  position: absolute;
  top: 530px;
  left: 0px;
}
.categories {
  display: flex;
  gap: 20px;
  padding: 20px 0;
}
.category-card1 {
  width: 250px;
  height: 300px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
}
.category-card1 img {
  width: 75%;
  height: 60%;
  object-fit: cover;
  border-radius: 8px;
}
.category-card {
    width: 100%;
    height: 1000px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
}
.category-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}
  
.category-products {
    margin-top: 50px; /* Отступ сверху, чтобы категория не перекрывалась другими элементами */
}
  
.product-list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
  
.product-card {
    width: 200px;
    text-align: center;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
}
  
.product-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}
/* styles.css (или ваш основной файл стилей) */
html {
  scroll-behavior: smooth;  /* Добавляет плавную прокрутку */
}
  