@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f4f7;
}
.block{
    position: absolute;
    top: 210px;
    left: 275px;
    background-color: rgb(226, 151, 151, 0);
    width: 500px;
    height: 250px;
}
.logo {
    font-family: 'Ubuntu', sans-serif;
    font-size: 60px;
    font-weight: bold;
    color: #1877f2;
    text-transform: lowercase;
    position: absolute;
    top: 0px;
    left: 0px;
}
.text{
    font-family: '', sans-serif;
    font-size: 27px;
    font-weight: normal;
    color: #000000;
    position: absolute;
    top: 80px;
    left: 0px;
}
.block1{
    width: 400px;
    height: 360px;
    background-color: rgb(255, 255, 255);
    border: 0,5px solid #000000;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2);
    border-radius: 9px;
    position: absolute;
    top: 145px;
    left: 825px;
}
.input-login {
    padding: 15px;
    font-size: 16px;
    width: 334px;
    border: 2px solid #bdcccdf7;
    border-radius: 10px;
    position: absolute;
    top: 15px;
    left: 50%; 
    transform: translateX(-50%);
}
.input-password{
    padding: 15px;
    font-size: 16px;
    width: 334px;
    border: 2px solid #bdcccdf7;
    border-radius: 10px;
    position: absolute;
    top: 82px;
    left: 50%; 
    transform: translateX(-50%);
}
.button-enter{
    padding: 15px;
    font-size: 21px;
    width: 367px;
    background-color: #1877f2; 
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    position: absolute;
    top: 149px;
    left: 50%; 
    transform: translateX(-50%);
}
.forget-password{
    color: #1877f2;
    text-decoration: none;
    position: absolute;
    top: 216px;
    left: 50%; 
    transform: translateX(-50%);
}
.line1{
    width: 367px;
    height: 0.3px;
    background-color: #bdcccdf7;
    position: absolute;
    top: 255px;
    left: 50%; 
    transform: translateX(-50%);
}
.button-create{
    font-family: Arial, sans-serif;
    padding: 14px;
    font-size: 17px;
    width: 200px;
    background-color: #22a725;
    color: white;
    border: none;
    text-decoration: none;
    border-radius: 6px;
    position: absolute;
    top: 285px;
    left: 50%; 
    transform: translateX(-50%);
}
.center-text{
    display: inline-block;
    text-align: center;
    width: 90%;
}
.sozdat{
    font-family: Arial, sans-serif;
    font-size: 14px;
    text-decoration: none;
    color: black;
}
.text1{
    font-family: Arial, sans-serif;
    font-size: 14px;
    /*text-align: center;*/
    position: absolute;
    top: 385px;
    left: 0px;
}
.block2{
    width: 100%;
    height: 190px;
    background-color: white;
    position: absolute;
    top: 720px;
    left: 0px;
}
#menu-left-bar{
    width: 1200px;
    height: 54px;
    position: absolute;
    top : 17px ;
    left: 275px ;
}
#menu-left-bar a{
    margin-left: 9px ; 
    font-size: 13px ;
    text-decoration: none;
    color : grey ;  
}
#menu-left-bar a:hover{
    text-decoration: underline;
} 
.line2{
    width: 950px;
    height: 0.3px;
    background-color: #bdcccdf7;
    position: absolute;
    top: 46px;
    left: 284px;
}
#menu1-left-bar{
    width: 950px;
    height: 54px;
    position: absolute;
    top : 55px ;
    left: 275px ;
}
#menu1-left-bar a{
    margin-left: 9px ; 
    font-size: 13px ;
    text-decoration: none;
    color : grey ;  
}
#menu1-left-bar a:hover{
    text-decoration: underline;
} 
#in{
    font-size: 13px;
    position: absolute;
    top: 80px;
    left: 10px;
    color: grey;
}