<section class="listing">
  <img class="listing-photo" [src]="products.imageUrl" alt="Exterior photo of {{products.name}}">
  <h2 class="listing-heading">{{products.name}}</h2>
  <p class="listing-location">PRICE: {{products.price}}тг <br> RATING: {{products.rating}} <br>DESCRIPTION: {{products.description}}</p>
  <a href="https://api.whatsapp.com/send/?text=Смартфон+Apple+iPhone+13+128Gb+черный+-+https%3A%2F%2Fkaspi.kz%2Fshop%2Fp%2Fapple-iphone-13-128gb-chernyi-102298404%2F%3Fc%3D750000000&type=custom_url&app_absent=0">SHARE ON WHATSAPP</a>
</section> 
  